.t-account {
  width: 30%;
  padding: 12px;
}

.acct-name-cell {
  background-color: white !important;
}

.ending-bal-row {
  font-weight: bold;

  td {
    /* !important needed here bc semantic-ui also uses important :( */
    border-top: 1px solid black !important;
  }
}
